body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-default .navbar-nav > li > a {
    color: #337ab7;
}

.navbar-default .navbar-toggle {
    border-color: #333;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
}

.available-place {
    height:32px; 
    margin: 5px 5px 5px 5px; 
    cursor: pointer;
}

.selected-place {
    border: 2px solid grey;
    border-radius: 5px;
    background-color: #337ab7;
}

.occupied-place {
    height:32px; 
    margin: 5px 5px 5px 5px; 
    border: 2px solid grey;
    border-radius: 5px;
    background-color: #d9534f;
}